body {
  font-family: sans-serif;
}

.game {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
